@using ReadAndAnalysis.App.Extensions
@using ReadAndAnalysis.App.Helpers
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>@ViewBag.Title</title>
    <!-- core:css -->
    <partial name="_AdminCss" />
    @await RenderSectionAsync("CssForThis",false)
    <!-- End layout styles -->

    <link rel="shortcut icon" href="/Forouzan.ico" />
</head>

<body class="active-ripple theme-blue fix-header sidebar-extra">
    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!-- END LOEADING -->
    <!-- BEGIN HEADER -->
    <div class="navbar navbar-fixed-top" id="main-navbar">
        <div class="header-right">
            <a href="/" class="logo-con">
               صفحه داشبورد
            </a>
        </div><!-- /.header-right -->
        <div class="header-left">
            <div class="top-bar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn" id="toggle-sidebar">
                            <span class="menu"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn open" id="toggle-sidebar-top">
                            <i class="icon-user-following"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn" id="toggle-dark-mode">
                            <i class="icon-bulb"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="btn" id="toggle-fullscreen">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="#" class="dropdown-toggle dropdown-hover" data-bs-toggle="dropdown">

                                <span>کاربر</span>
                                <i class="icon-arrow-down"></i>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="divider"></li>
                                <li>
                                    <a asp-controller="Account" asp-action="LogOut">
                                        <i class="icon-power"></i>
                                        خروج
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="link" >

                                <span>ورود</span>
                               
                            </a>
                        }
                      
                    </li>
                </ul><!-- /.navbar-left -->
            </div><!-- /.top-bar -->
        </div><!-- /.header-left -->
    </div><!-- /.navbar -->
    <!-- END HEADER -->
    <!-- BEGIN SIDEBAR -->
    <div id="wrapper">
        <div id="sidebar">
            <div class="sidebar-top">
                <div class="search-box">
                    <form class="search-form" action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control placeholder-light" placeholder="جستجو..." name="key">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-round submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
               @* @await Component.InvokeAsync("UserBox")*@
            </div>
            <partial name="_SideNav" />
            <!-- BEGIN PAGE CONTENT -->
            <div id="page-content">
                <div class="row">
                    <!-- BEGIN BREADCRUMB -->
                    <div class="col-md-12">
                        <div class="breadcrumb-box shadow">
                            <ul class="breadcrumb">
                                <li><a href="#">پنل ادمین</a></li>
                                <li>
                                    @await RenderSectionAsync("ToperLink",false)
                                </li>
                                <li class="active">@ViewData["Title"]</li>
                            </ul>
                            <div class="breadcrumb-left">
                                @DateTime.Now.PersionDayOfWeek()، @DateTime.Now.ToShamsi()
                                <i class="icon-calendar"></i>
                            </div><!-- /.breadcrumb-left -->
                        </div><!-- /.breadcrumb-box -->
                    </div><!-- /.col-md-12 -->
                    <!-- END BREADCRUMB -->
                    @await RenderSectionAsync("Validators",false)
                    <div class="col-12">
                        <div class="portlet box shadow">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h3 class="title">
                                        <i class="icon-note"></i>
                                        @ViewData["Title"]
                                    </h3>
                                </div><!-- /.portlet-title -->
                                <div class="buttons-box">
                                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                                        <i class="icon-size-fullscreen"></i>
                                    </a>
                                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                                        <i class="icon-arrow-up"></i>
                                    </a>
                                </div><!-- /.buttons-box -->
                            </div><!-- /.portlet-heading -->
                            <div class="portlet-body">
                                @RenderBody()
                            </div><!-- /.portlet-body -->
                        </div><!-- /.portlet -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /#page-content -->
            <!-- END PAGE CONTENT -->

        </div><!-- /#wrapper -->
        <!-- END WRAPPER -->

        <div class="row footer-container">
            <div class="col-md-12">
                <div class="copyright">
                    <p class="float-start">
                        کلیه حقوق این سایت متعلق به شرکت فنی ، مهندسی ، نرم افزاری فروزان می باشد.
                    </p>

                </div><!-- /.copyright -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <!-- BEGIN SETTING -->
        <div class="settings d-none d-sm-block">
            <a href="#" class="btn" id="toggle-setting">
                <i class="icon-settings"></i>
            </a>

            <div class="setting-content">
                <h3 class="text-center">تنظیمات</h3>
                <div class="fix-header-box">
                    <p class="h6">
                        هدر ثابت:
                        <span class="pull-left">
                            <input type="checkbox" class="fix-header-switch normal" checked>
                        </span>
                    </p>
                </div><!-- /.fix-header-box -->
                <hr class="light">
                <div class="toggle-sidebar-box">
                    <p class="h6">
                        جمع کردن سایدبار:
                        <span class="pull-left">
                            <input type="checkbox" class="toggle-sidebar-switch normal">
                        </span>
                    </p>
                </div><!-- /.toggle-sidebar-box -->
                <hr class="light">
                <div class="toggle-sidebar-box">
                    <p class="h6">
                        سایدبار خلاقانه:
                        <span class="pull-left">
                            <input type="checkbox" class="creative-sidebar-switch normal">
                        </span>
                    </p>
                </div><!-- /.toggle-sidebar-box -->
                <hr class="light">
                <div class="theme-colors">
                    <p class="h6">رنگ قالب : </p>
                    <a class="btn btn-round btn-blue ripple-effect active" data-color="blue"></a>
                    <a class="btn btn-round btn-red ripple-effect" data-color="red"></a>
                    <a class="btn btn-round btn-green ripple-effect" data-color="green"></a>
                    <a class="btn btn-round btn-orange ripple-effect" data-color="orange"></a>
                    <a class="btn btn-round btn-purple ripple-effect" data-color="purple"></a>
                    <a class="btn btn-round btn-deeporange ripple-effect" data-color="deeporange"></a>
                    <a class="btn btn-round btn-cyan ripple-effect" data-color="cyan"></a>
                    <a class="btn btn-round btn-rose ripple-effect" data-color="rose"></a>
                    <a class="btn btn-round btn-lime ripple-effect" data-color="lime"></a>
                    <a class="btn btn-round btn-darkorange ripple-effect" data-color="darkorange"></a>
                    <a class="btn btn-round btn-darkpurple ripple-effect" data-color="darkpurple"></a>
                    <a class="btn btn-round btn-darkblue ripple-effect" data-color="darkblue"></a>
                </div><!-- /.theme-colors -->
                @* <div class="theme-code ltr text-left">
                <code></code>
                </div>*@<!-- /.theme-code -->
            </div><!-- /.setting-content -->


            <div class="img-box">
                <img class="img-bottom dark" src="/assets/images/logo-dark.png">
                <img class="img-bottom light" src="/assets/images/logo.png">
            </div><!-- /.img-box -->
        </div><!-- /.settings -->
        <!-- END SETTING -->
       
    </div>
    <script src="/assets/plugins/jquery/dist/jquery-3.6.1.min.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/Popper/popper.min.js"></script>
    <script src="/assets/plugins/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/assets/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
    <script src="/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>

    <script src="/assets/plugins/screenfull/dist/screenfull.min.js"></script>
    <script src="/assets/plugins/iCheck/icheck.min.js"></script>
    <script src="/assets/plugins/switchery/dist/switchery.js"></script>
    @await RenderSectionAsync("PluginForThis",false)
    <script src="/assets/js/core.js"></script>
    <partial name="_Notification" />
    @await RenderSectionAsync("Script" , false)
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
</body>

</html>