@using ReadAndAnalysis.Data.Entities;
@model InsertedNewsListDto
@{
    Layout = null;
    List<EstimateNews>? estimates = ViewData["Estimates"] as List<EstimateNews>;
    string date = Model.NewsPublishedDate;
    List<NewsInsertedsCmd>? manages = ViewData["Manage"] as List<NewsInsertedsCmd>;
    List<NegativeReason>? reasons = ViewData["Reasons"] as List<NegativeReason>;

}
}

<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ویرایش</title>
    <partial name="_AdminCss" />
    <link href="/assets/plugins/kamadatepicker/kamadatepicker.min.css" rel="stylesheet">
</head>
<body>
    <div class="table-responsive mt-4">
        <div class="col-4 offset-4 mb-2 d-grid gap-2">
            <a class="btn btn-info" asp-controller="InsertNews" asp-action="Index">لیست خبرهای ثبت شده</a>
        </div>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="col-12 row">
                <div class="col-sm-12 col-md-12 row">
                    <div class="col-sm-12 col-md-2">
                        <label>عنوان خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" autocomplete="off" asp-for="NewsTitle" maxlength="150" />
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 row">
                <div class="col-sm-12 col-md-12 row">
                    <div class="col-sm-12 col-md-2">
                        <label>متن خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <textarea class="form-control" asp-for="NewsDescription" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 row">
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-12 col-md-2">
                        <label>لینک خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" autocomplete="off" asp-for="NewsUrl" maxlength="150" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-12 col-md-2">
                        <label>در مورد خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <select asp-for="ManagementSourceId" class="form-control" required>
                            <option value="">انتخاب کنید</option>
                            @foreach (var item in manages)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-12 col-md-2">
                        <label>نتیجه خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <select asp-for="EstimateId" class="form-control" required>
                            <option value="">انتخاب کنید</option>
                            @foreach (var item in estimates)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-12 col-md-2">
                        <label>تاریخ انتشار خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" asp-for="NewsPublishedDate" autocomplete="off"
                               required />
                           

                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 row">
                <div class="col-md-4  row">
                    <div class="col-md-6">
                        <label>دلیل نتیجه منفی</label>
                    </div>
                    <div class="col-md-6">
                        <select asp-for="NegativeReasonId" class="form-control" required>
                            <option value="">انتخاب کنید</option>
                            @foreach (var item in reasons)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 row">
                    <div class="col-sm-12 col-md-2">
                        <label>دلیل نتیجه خبر</label>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <textarea class="form-control" asp-for="EstimateDscp" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-4 d-grid mt-2 gap-2">
                <input type="submit" value="ثبت" class="btn btn-success" />
            </div>
        </form>
    </div>
    <script src="/assets/plugins/jquery/dist/jquery-3.6.1.min.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="/assets/plugins/kamadatepicker/kamadatepicker.min.js"></script>
    <script src="/assets/js/pages/calendar-kama.js"></script>
    <script>
        kamaDatepicker('NewsPublishedDate',
            {
                buttonsColor: "green",
                forceFarsiDigits: false,
                markToday: true,
                markHolidays: true,
                gotoToday: true
            });
    </script>
</body>
</html>
