@using ReadAndAnalysis.Data.Entities
@model List<EvalutedListDto>
@{
    ViewData["Title"] = "خبرهای ارزیابی شده";
    List<EstimateNews>? estimates = ViewData["estimate"] as List<EstimateNews>;
}

@section CssForThis{
    <link href="/assets/plugins/kamadatepicker/kamadatepicker.min.css" rel="stylesheet">
  @*  <link href="/assets/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
*@}
@section ToperLink{
    <a href="#">لیست اخبار</a>
}
@section PluginForThis{
@*    <script src="/assets/plugins/data-table/js/jquery.dataTables.min.js"></script>
*@
    <script src="/assets/plugins/kamadatepicker/kamadatepicker.min.js"></script>
    <script src="/assets/js/pages/calendar-kama.js"></script>
}


<form asp-action="ShowEvaluteds" method="get">

    <div class="col-12 row ">
        <div class="col-3 row">
           <div class="col-3">
                <label>از تاریخ انتشار</label>
            </div>
            <div class="col-9">
                <input type="text" autocomplete="off" id="start" name="startDate"
                       class="form-control" />
            </div>
        </div>
        <div class="col-3 row">
           <div class="col-3">
                <label>تا تاریخ انتشار</label>
            </div>
            <div class="col-9">
                <input type="text" autocomplete="off" id="end" name="endDate"
                       class="form-control" />
            </div>
        </div>
        <div class="col-3 row">
            <div class="col-sm-12 col-md-2">
                <label>نتیجه خبر</label>
            </div>
            <div class="col-sm-12 col-md-10">
                <select name="estimateId" class="form-control" >
                    <option value="">انتخاب کنید</option>
                    @foreach (var item in estimates)
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                </select>
            </div>

        </div>
        <div class="col-3">
            <input type="submit" value="پیدا کن" class="btn btn-warning" />
        </div>

    </div>
</form>
<div class="col-12 text-center">
    @if (ViewBag.Start != null && ViewBag.EndDate != null)
    {
        <h2>
        بازه نمایش بین @ViewBag.Start تا @ViewBag.EndDate
    </h2>  
    }
  
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>

                <th>عنوان</th>
                <th>توضیحات</th>
                <th>ارسال برای پیامک</th>
                <th>ادرس سایت </th>
                <th>حوزه</th>
                <th>ماخذ آماری</th>
                <th>تاریخ انتشار خبر</th>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                bool neutral = false;
                bool positive = false;
                bool negative = false;
                if (item.EstimateId == 1)
                    neutral = true;
                if (item.EstimateId == 2)
                    positive = true;
                if (item.EstimateId == 3)
                    negative = true;
                <tr class="@((positive) ? "bg-success" : "") @((negative)?"bg-danger":"")">
                    <td>@item.Title.ShowTitle()</td>
                    <td>@item.Description.ShowInTable()</td>
                    <td>
                        @if(item.IsSendForSms){<span>ارسال شده است</span>}
                        else{<span>ارسال نشده است</span>}

                    </td>
                    <td>@item.TitleUrl</td>

                    <td>@item.FieldOfUse.ShowTitle()</td>
                    <td>@item.StatisticalSource.ShowTitle()</td>
                    <td>@item.PublishedDate.ToMiladiInverse().ToShamsi()</td>
                    <td>

                        <a onclick="Send(@item.Id)" class="btn btn-warning p-1">ارسال اس</a>
                       
                        <a asp-controller="News"
                           asp-action="ShowNews" asp-route-newsId="@item.Id" target="_blank" class="btn btn-info btn-round p-1">نمایش</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div>
        <p>
            <span class="p-3">خبر با نتیجه خنثی</span>
            <span class="p-3 bg-success text-light">خبر با نتیجه مثبت</span>
            <span class="p-3 bg-danger text-light">خبر با نتیجه منفی</span>

        </p>
    </div>
</div><!-- /.table-responsive -->



<div id="modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title">نمونه مودال عمومی</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body" id="body">
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Script{

    <script>
        function Send(id) {
            $.ajax({
                url: "/News/ShowNegativeForSms",
                type: "Get",
                data: { newsId: id }
            }).done(function (result) {
                $('#modal').modal('show');
                $('#title').html(' ارسال برای پیامک ...');
                $('#body').html(result);
            });
        }
    </script>
    <script>
        //var tableMain = $('#data-table').DataTable({
        //    "columnDefs": [{
        //        "targets": 3,
        //        "orderable": false
        //    }],
        //    "pageLength": 100
        //});

        //$(window).on('resize', function () {
        //    $('#data-table').css("width", "100%");
        //});
        kamaDatepicker('start',
            {
                buttonsColor: "green",
                forceFarsiDigits: false,
                markToday: true,
                markHolidays: true,
                gotoToday: true
            });
    </script>
    <script>
        kamaDatepicker('end',
            {
                buttonsColor: "green",
                forceFarsiDigits: false,
                markToday: true,
                markHolidays: true,
                gotoToday: true
            });
    </script>
}